doctype html
html
  head
    meta(charset='UTF-8')
    title 公告
    script(src='https://unpkg.com/react@16/umd/react.production.min.js')
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js')
    style
      | #app {
      |   max-width: 600px;
      |   margin: 0 auto;
      | }
  body
    div#app
